@font-face{
	src: url('Poppins-Regular.ttf');
}

#pnlPrincipal {
	-fx-background-color: #303030;
}

.label{
	-fx-font-family: 'Poppins';
	-fx-color: #ffffff;
	-fx-text-fill: white;
}

.button {
	-fx-font-family: 'Poppins';
	-fx-background-color: grey;
	-fx-text-fill: white;
}