@font-face{
	src: url('Poppins-Regular.ttf');
}

#pnlPrincipal {
	-fx-background-color: #303030;
}

.label{
	-fx-font-family: 'Poppins';
	-fx-text-fill: white;
}

.button {
	-fx-background-color: grey;
	-fx-text-fill: white;
	-fx-font-family: 'Poppins';
}

.text-field {
	-fx-background-color: grey;
	-fx-font-family: 'Poppins';
	-fx-text-fill: white;
}

.combo-box .list-cell {
    -fx-background: grey;
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view {
    -fx-background-color: grey, grey;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}  

.combo-box-popup .list-view .list-cell {
    -fx-background-color: grey;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #303030;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-base  
{
    -fx-background-color: grey, grey, grey, grey;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: #737373;
}

.combo-box-base:showing 
{
    -fx-color: #737373;
}

.combo-box-base:focused {
    -fx-background-color: #808080, #808080, #808080, #808080;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .7;
}